Subflows/SpanishElectricityTariffSections.json
[{"id":"7c656dfe.ac3bd4","type":"subflow","name":"TramoElectrico","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"590e0d39.7b0c54"}]}],"out":[{"x":980,"y":160,"wires":[{"id":"bc84764f.7daaa8","port":0}]},{"x":980,"y":220,"wires":[{"id":"bd8c8b3f.0e5758","port":0}]},{"x":980,"y":280,"wires":[{"id":"e77862ef.f1aac","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","inputLabels":["input"],"outputLabels":["llano","valle","punta","undefined"],"icon":"node-red-contrib-actionflows/actionflows.png","status":{"x":700,"y":60,"wires":[{"id":"d0d3c316.3feaf","port":0}]}},{"id":"92197e83.ce24d","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"10:00","endTime":"13:59","startOffset":"","endOffset":0,"x":530,"y":500,"wires":[["e77862ef.f1aac"],[]]},{"id":"18a44bc6.8041c4","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"14:00","endTime":"17:59","startOffset":"","endOffset":0,"x":530,"y":560,"wires":[["bd8c8b3f.0e5758"],[]]},{"id":"2cb0599.a36daa6","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"18:00","endTime":"21:59","startOffset":"","endOffset":0,"x":530,"y":620,"wires":[["e77862ef.f1aac"],[]]},{"id":"6a47be38.2ecb2","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"22:00","endTime":"23:59","startOffset":"","endOffset":0,"x":530,"y":680,"wires":[["bd8c8b3f.0e5758"],[]]},{"id":"6f104434.21793c","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"00:00","endTime":"07:59","startOffset":"","endOffset":0,"x":530,"y":380,"wires":[["bc84764f.7daaa8"],[]]},{"id":"19047960.17f9c7","type":"time-range-switch","z":"7c656dfe.ac3bd4","name":"","lat":"39.43681","lon":"3.02759","startTime":"08:00","endTime":"09:59","startOffset":"","endOffset":0,"x":530,"y":440,"wires":[["bd8c8b3f.0e5758"],[]]},{"id":"bc84764f.7daaa8","type":"function","z":"7c656dfe.ac3bd4","name":"llano","func":"msg.payload = \"llano\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":160,"wires":[[]]},{"id":"bd8c8b3f.0e5758","type":"function","z":"7c656dfe.ac3bd4","name":"valle","func":"msg.payload = \"valle\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":220,"wires":[[]]},{"id":"e77862ef.f1aac","type":"function","z":"7c656dfe.ac3bd4","name":"punta","func":"msg.payload = \"punta\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":280,"wires":[[]]},{"id":"4c52c89f.426968","type":"switch","z":"7c656dfe.ac3bd4","name":"especialDay?","property":"especialDay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":160,"wires":[["bc84764f.7daaa8"],["6f104434.21793c","19047960.17f9c7","92197e83.ce24d","18a44bc6.8041c4","2cb0599.a36daa6","6a47be38.2ecb2"]]},{"id":"590e0d39.7b0c54","type":"function","z":"7c656dfe.ac3bd4","name":"Get EspecialDay","func":"const time = new Date();\nlet day = time.getDay();\nif(day === 0) day = 7;\nlet weekend = (day==6 || day==7);\nlet dayOfMonth = time.getDate();\nlet month = time.getMonth() + 1;\nlet publicHoliday = (dayOfMonth == 1  && month == 1)  ||\n                    (dayOfMonth == 6  && month == 1)  ||\n                    (dayOfMonth == 2  && month == 4)  ||\n                    (dayOfMonth == 1  && month == 5)  ||\n                    (dayOfMonth == 12 && month == 10) ||\n                    (dayOfMonth == 1  && month == 11) ||\n                    (dayOfMonth == 6  && month == 12) ||\n                    (dayOfMonth == 8  && month == 12) ||\n                    (dayOfMonth == 25 && month == 12);\nmsg.weekend = weekend;\nmsg.publicHoliday = publicHoliday;\nmsg.especialDay = weekend || publicHoliday;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":40,"wires":[["4c52c89f.426968"]]},{"id":"d0d3c316.3feaf","type":"status","z":"7c656dfe.ac3bd4","name":"","scope":null,"x":560,"y":60,"wires":[[]]}]