Subflows/SpeakAlexa.json
[{"id":"7a62a2d3.c0f4a4","type":"subflow","name":"Habla Alexa","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"6add9bc6.4c3624"}]}],"out":[{"x":460,"y":360,"wires":[{"id":"d44cc51a.be0668","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":220,"y":40,"wires":[{"id":"aef53056.742438","port":0}]}},{"id":"89300b1.595bcf8","type":"function","z":"7a62a2d3.c0f4a4","name":"Set Speech Payload","func":"const entity = flow.get(\"$parent.speech_entity_id\") || (msg.payload && msg.payload.entity_id) || \"media_player.echo_salon_2\";\nconst message = (msg.payload && msg.payload.message) || \"Automation provided no message\";\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"TTS message:\" + message });\nreturn {\n    payload:{\n        data: {\n            message: message,\n            data: { type: \"tts\" },\n            target: [entity]\n        }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":240,"wires":[["d44cc51a.be0668"]]},{"id":"d44cc51a.be0668","type":"api-call-service","z":"7a62a2d3.c0f4a4","name":"Send Speech Notification","server":"454114da.43363c","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":170,"y":360,"wires":[[]]},{"id":"6add9bc6.4c3624","type":"api-current-state","z":"7a62a2d3.c0f4a4","name":"Speech Notifications?","server":"454114da.43363c","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.automation_notifications","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"x":140,"y":240,"wires":[["64327eb2.703cf"],[]],"outputLabels":["","enabled"]},{"id":"aef53056.742438","type":"status","z":"7a62a2d3.c0f4a4","name":"","scope":null,"x":100,"y":40,"wires":[[]]},{"id":"64327eb2.703cf","type":"time-range-switch","z":"7a62a2d3.c0f4a4","name":"","lat":"39.43681","lon":"3.02759","startTime":"sunrise","endTime":"00:05","startOffset":"","endOffset":0,"x":360,"y":240,"wires":[["3e1a6966.000936"],[]]},{"id":"3e1a6966.000936","type":"api-call-service","z":"7a62a2d3.c0f4a4","name":"Volumen to 70%","server":"454114da.43363c","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_salon_2","data":"{\"volume_level\":\"0.7\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":240,"wires":[["89300b1.595bcf8"]]},{"id":"454114da.43363c","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]